<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CMCToolsTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CMCToolsTest.Properties.Settings>
            <setting name="MCFilePath" serializeAs="String">
                <value>..\..\..\Output\MCTrajectory_{0}.txt</value>
            </setting>
            <setting name="CPFilePath" serializeAs="String">
                <value>..\..\..\Output\CPTrajectory_{0}.txt</value>
            </setting>
            <setting name="TransmitterFilePath" serializeAs="String">
                <value>..\..\..\Output\TrTrajectory.txt</value>
            </setting>
            <setting name="BaseStationsFilePath" serializeAs="String">
                <value>..\..\..\Output\BaseStations.txt</value>
            </setting>
        </CMCToolsTest.Properties.Settings>
    </userSettings>
</configuration>